section{
    background-color: grey;
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
section::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0.5;
}

.stepinner{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    height: 100%;
    width: 100%;
    text-shadow: rgb(29, 13, 6) 1px 0 10px;
}
.play{
    z-index: 99;
    background-color: white;
    position: fixed;
    border-radius: 100%;
    right: 20px;
    top: 50%;
    max-width: 50px;
    max-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
}
.icon{
    width: 100%;
    height: 100%;
    opacity: 1;
    cursor: pointer;
}
.step1{
    background-image: url(../images/pont.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0;
}
.step2{
    background-image: url(../images/dormeur.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.step3{
    background-image: url(../images/colchique.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.step4{
    background-image: url(../images/bakamitai.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.step5{
    background-image: url(../images/montmartre.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.titre-auteur{
    font-family: 'Dancing Script', cursive;
}
.auteur{
    width: 300px;
    display: flex;
    justify-content: end;
    font-size: 22px;
}
h2{
    font-size: 26px;
    margin-bottom: 40px;
}
p{
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}
.step1 .poeme{
    opacity: 1;
}
.poeme{
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    opacity: 1;
    font-family: 'Kalam', cursive;
}
.poeme p{
    padding-right: 30px;
}

.step2, .step3, .step4, .step5{
    display: none;
}
@media (max-width: 882px){
    .step4{
        height: 800px;
        width: 100%;
        background-size: cover;
    }
    .poeme{
        max-height: 100%;
    }
    .step5{
        height: 1500px;
        width: 100%;
        background-size: cover;
    }
}
@media (max-width: 582px){
    section{
        min-height: 800px;
    }
    .step4{
        height: 1000px;
        width: 100%;
        background-size: cover;
    }
    .poeme{
        max-height: 100%;
    }
    .step5{
        height: 1500px;
        width: 100%;
        background-size: cover;
    }
}